
---

### ✅ **1. Introduction to Databases**

---

**1. What is a database?**  
A **database** is an organized collection of structured data that can be easily accessed, managed, and updated. It allows storing, retrieving, and manipulating data efficiently.

---

**2. What are the types of databases?**  

* **Relational Database (RDBMS)** – Uses tables and SQL (e.g., MySQL, PostgreSQL)
* **NoSQL Database** – Non-tabular (e.g., MongoDB, Cassandra)
* **Hierarchical Database** – Tree-like structure (e.g., IBM IMS)
* **Network Database** – Many-to-many relationships (e.g., IDMS)
* **Object-Oriented Database** – Stores objects (e.g., db4o)

---

**3. What is a relational database?**  
A **relational database** stores data in tables (relations) consisting of rows and columns. Relationships between tables are maintained using primary and foreign keys. SQL is used to interact with the data.

---

**4. What is SQL?**  
SQL (Structured Query Language) is a standard language for managing relational databases. It is used to query, insert, update, and delete data and also define schema (DDL).

---

**5. What are some popular relational database systems?**

* **MySQL**
* **PostgreSQL**
* **Oracle Database**
* **Microsoft SQL Server**
* **SQLite**

---

**6. What is a table in a database?**  
A **table** is a collection of data organized in rows and columns. Each table represents one entity type (e.g., customers, orders).

---

**7. What is a primary key?**  
A **primary key** is a column or a set of columns that uniquely identifies each row in a table. It must be unique and not null.

Example:

```sql
CREATE TABLE users (
  id INT PRIMARY KEY,
  name VARCHAR(100)
);
```

---

**8. What is a foreign key?**  
A **foreign key** is a column in one table that references the primary key of another table. It creates a relationship between the two tables.

Example:

```sql
FOREIGN KEY (customer_id) REFERENCES customers(id)
```

---

**9. What is a schema?**  
A **schema** is a logical structure that organizes database objects such as tables, views, indexes, and stored procedures. In MySQL, it’s equivalent to a database name.

---

**10. What is a record (row) and a field (column)?**  

* **Record (Row)**: A single data item or tuple.
* **Field (Column)**: A specific attribute or property of data.

Example:
In a `users` table:

* **Row**: One user
* **Column**: `id`, `name`, `email`

---

**11. What is the difference between OLTP and OLAP?**  

* **OLTP (Online Transaction Processing)**: Used for real-time transactional systems (e.g., ATM systems). Fast, short transactions.
* **OLAP (Online Analytical Processing)**: Used for data analysis and reporting. Handles complex queries and large volumes of historical data.

---

**12. What is a database instance?**  
A **database instance** is a running database system that includes memory structures and background processes managing the data stored on disk.

---

**13. What is data redundancy?**  
**Data redundancy** occurs when the same piece of data exists in multiple places. It can lead to inconsistencies and storage waste. Normalization is used to reduce redundancy.

---


### ✅ **2. SQL Basics**

---

**1. What is SQL used for?**  
SQL (**Structured Query Language**) is used to interact with relational databases. It allows you to:

* Create and manage database objects (tables, views, etc.)
* Insert, update, delete, and retrieve data
* Control access to data and users

---

**2. What are DDL, DML, DCL, and TCL?**  
These are SQL command categories:

| Type    | Full Form                    | Purpose                                                              |
| ------- | ---------------------------- | -------------------------------------------------------------------- |
| **DDL** | Data Definition Language     | Create, alter, drop schema objects (e.g., `CREATE`, `ALTER`, `DROP`) |
| **DML** | Data Manipulation Language   | Modify data (e.g., `INSERT`, `UPDATE`, `DELETE`)                     |
| **DCL** | Data Control Language        | Manage permissions (e.g., `GRANT`, `REVOKE`)                         |
| **TCL** | Transaction Control Language | Manage transactions (e.g., `COMMIT`, `ROLLBACK`, `SAVEPOINT`)        |

---

**3. What is the syntax for creating a table?**  

```sql
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  salary DECIMAL(10, 2)
);
```

---

**4. How do you insert data into a table?**  

```sql
INSERT INTO employees (id, name, salary)
VALUES (1, 'Navin', 50000.00);
```

---

**5. How do you update data in a table?**  

```sql
UPDATE employees
SET salary = 55000.00
WHERE id = 1;
```

---

**6. How do you delete data from a table?**  

```sql
DELETE FROM employees
WHERE id = 1;
```

---

**7. How do you select data from a table?**  

```sql
SELECT * FROM employees;
```

---

**8. What is the WHERE clause used for?**  
Used to filter rows based on a condition.

```sql
SELECT * FROM employees
WHERE salary > 40000;
```

---

**9. How do you sort query results?**  
Using `ORDER BY`:

```sql
SELECT * FROM employees
ORDER BY salary DESC;
```

---

**10. How do you limit the number of rows returned?**  
Using `LIMIT`:

```sql
SELECT * FROM employees
LIMIT 5;
```

---

**11. What is the difference between DELETE, TRUNCATE, and DROP?**  

| Command    | Purpose               | Can Rollback? | Removes Table Structure? |
| ---------- | --------------------- | ------------- | ------------------------ |
| `DELETE`   | Removes selected rows | Yes           | No                       |
| `TRUNCATE` | Removes all rows      | No (mostly)   | No                       |
| `DROP`     | Deletes the table     | No            | Yes                      |

---

**12. What is the default sorting order in SQL?**  
**Ascending (`ASC`)** by default when using `ORDER BY`.

---

**13. What is NULL in SQL?**  
`NULL` represents a missing or unknown value. It is not equal to `0` or empty string.
Use `IS NULL` or `IS NOT NULL` to check for it.

---



### ✅ **3. Filtering, Sorting, and Functions**

---

**1. How do you filter data using `WHERE`?**  
Use the `WHERE` clause to filter records based on a condition.

```sql
SELECT * FROM employees
WHERE salary > 40000;
```

---

**2. What are comparison and logical operators in SQL?**  

* **Comparison:** `=`, `!=` or `<>`, `>`, `<`, `>=`, `<=`
* **Logical:** `AND`, `OR`, `NOT`

```sql
SELECT * FROM employees
WHERE salary > 40000 AND department = 'HR';
```

---

**3. How do you use `BETWEEN`, `IN`, and `LIKE`?**  

* `BETWEEN`: Range filter

  ```sql
  SELECT * FROM employees
  WHERE salary BETWEEN 40000 AND 60000;
  ```

* `IN`: Match a set of values

  ```sql
  SELECT * FROM employees
  WHERE department IN ('HR', 'Finance');
  ```

* `LIKE`: Pattern matching

  ```sql
  SELECT * FROM employees
  WHERE name LIKE 'N%'; -- Starts with N
  ```

---

**4. How do you sort results using `ORDER BY`?**  

```sql
SELECT * FROM employees
ORDER BY salary DESC;
```

Use `ASC` for ascending (default), `DESC` for descending.

---

**5. What are aggregate functions (`SUM`, `AVG`, `COUNT`, `MIN`, `MAX`)?**  

| Function  | Description             |
| --------- | ----------------------- |
| `SUM()`   | Total of numeric column |
| `AVG()`   | Average value           |
| `COUNT()` | Number of rows          |
| `MIN()`   | Smallest value          |
| `MAX()`   | Largest value           |

Example:

```sql
SELECT AVG(salary) FROM employees;
```

---

**6. How do you group data using `GROUP BY`?**  

```sql
SELECT department, AVG(salary)
FROM employees
GROUP BY department;
```

---

**7. How do you filter groups using `HAVING`?**  

```sql
SELECT department, COUNT(*)
FROM employees
GROUP BY department
HAVING COUNT(*) > 2;
```

Use `HAVING` after `GROUP BY`, not `WHERE`.

---

**8. What are scalar functions?**  
Functions that operate on a single value and return a single value.

Examples:

* `UPPER()`, `LOWER()`
* `ROUND()`
* `LENGTH()`
* `NOW()`

```sql
SELECT UPPER(name) FROM employees;
```

---

**9. How do you use string and date functions in SQL?**  

* String:

  ```sql
  SELECT CONCAT(first_name, ' ', last_name) FROM employees;
  ```

* Date:

  ```sql
  SELECT DATEDIFF(NOW(), join_date) FROM employees;
  ```

---

**10. What is the difference between `HAVING` and `WHERE`?**  

| Clause   | Used For                         |
| -------- | -------------------------------- |
| `WHERE`  | Filter **rows before grouping**  |
| `HAVING` | Filter **groups after grouping** |

---

**11. How do you use `CASE`/`IF` statements in SQL?**  

```sql
SELECT name,
       CASE
           WHEN salary > 50000 THEN 'High'
           WHEN salary > 30000 THEN 'Medium'
           ELSE 'Low'
       END AS salary_range
FROM employees;
```

---

**12. How do you use `COALESCE()` and `NULLIF()`?**  

* `COALESCE()`: Returns first non-NULL value

  ```sql
  SELECT COALESCE(middle_name, 'N/A') FROM employees;
  ```

* `NULLIF()`: Returns NULL if two values are equal

  ```sql
  SELECT NULLIF(salary, 0) FROM employees;
  ```

---

**13. What is the difference between `COUNT(*)` and `COUNT(column_name)`?**  

| Function             | Description                                |
| -------------------- | ------------------------------------------ |
| `COUNT(*)`           | Counts all rows including NULLs            |
| `COUNT(column_name)` | Counts only non-NULL values in that column |

---


### ✅ **4. Joins and Relationships**

---

**1. What is a join in SQL?**  
A **JOIN** is used to combine rows from two or more tables based on a related column between them.

---

**2. What are the types of joins?**  

* `INNER JOIN`
* `LEFT (OUTER) JOIN`
* `RIGHT (OUTER) JOIN`
* `FULL (OUTER) JOIN`
* `CROSS JOIN`
* `SELF JOIN`

---

**3. What is an `INNER JOIN`?**  
Returns rows where there is a match in both tables.

```sql
SELECT e.name, d.department_name
FROM employees e
INNER JOIN departments d ON e.department_id = d.id;
```

---

**4. What is a `LEFT (OUTER) JOIN`?**  
Returns all records from the left table, and matched records from the right table. If no match, NULLs are returned for right side.

```sql
SELECT e.name, d.department_name
FROM employees e
LEFT JOIN departments d ON e.department_id = d.id;
```

---

**5. What is a `RIGHT (OUTER) JOIN`?**  
Returns all records from the right table, and matched records from the left table.

```sql
SELECT e.name, d.department_name
FROM employees e
RIGHT JOIN departments d ON e.department_id = d.id;
```

---

**6. What is a `FULL (OUTER) JOIN`?**  
Returns all records when there is a match in either left or right table. Unmatched records are filled with NULLs.

```sql
SELECT e.name, d.department_name
FROM employees e
FULL OUTER JOIN departments d ON e.department_id = d.id;
```

---

**7. What is a `CROSS JOIN`?**  
Returns the Cartesian product of two tables — every row of the first table is joined with every row of the second.

```sql
SELECT e.name, d.department_name
FROM employees e
CROSS JOIN departments d;
```

---

**8. How do you join more than two tables?**  

```sql
SELECT e.name, d.department_name, l.location
FROM employees e
JOIN departments d ON e.department_id = d.id
JOIN locations l ON d.location_id = l.id;
```

---

**9. What is a `SELF JOIN`?**  
Joining a table with itself. Useful for hierarchical data (e.g., manager-employee).

```sql
SELECT e1.name AS employee, e2.name AS manager
FROM employees e1
JOIN employees e2 ON e1.manager_id = e2.id;
```

---

**10. What is a subquery?**  
A query nested inside another query.

```sql
SELECT name
FROM employees
WHERE department_id = (
    SELECT id FROM departments WHERE name = 'HR'
);
```

---

**11. What is a correlated subquery?**  
A subquery that references columns from the outer query. It runs **once per row**.

```sql
SELECT name
FROM employees e
WHERE salary > (
    SELECT AVG(salary)
    FROM employees
    WHERE department_id = e.department_id
);
```

---

**12. What is a `NATURAL JOIN`?**  
Automatically joins tables using columns with the same names in both tables.

> ⚠️ Use with caution as it might join unintended columns.

```sql
SELECT * FROM employees
NATURAL JOIN departments;
```

---

**13. When should you use `EXISTS` vs `IN`?**  

* `IN`: Better for small, static lists
* `EXISTS`: Better for subqueries with large datasets

```sql
-- EXISTS
SELECT name FROM employees e
WHERE EXISTS (
  SELECT 1 FROM departments d WHERE d.id = e.department_id
);

-- IN
SELECT name FROM employees
WHERE department_id IN (SELECT id FROM departments);
```

---

**14. What is the performance difference between joins and subqueries?**  

| Technique  | Performance                                                          |
| ---------- | -------------------------------------------------------------------- |
| `JOIN`     | Generally faster for combining large datasets                        |
| `Subquery` | Slower if used inefficiently; correlated subqueries can be expensive |

> ✅ Best practice: Prefer joins over subqueries when possible for performance.

---



### ✅ **5. Constraints and Data Integrity**

---

**1. What are constraints in SQL?**  
Constraints are rules applied to columns to enforce data integrity and consistency.
They prevent invalid data from being inserted into the table.

---

**2. What is a `NOT NULL` constraint?**  
Ensures that a column cannot have a `NULL` value.

```sql
CREATE TABLE employees (
  id INT NOT NULL,
  name VARCHAR(50) NOT NULL
);
```

---

**3. What is a `UNIQUE` constraint?**  
Ensures all values in a column (or combination of columns) are different.

```sql
CREATE TABLE users (
  email VARCHAR(100) UNIQUE
);
```

---

**4. What is a `CHECK` constraint?**  
Ensures that values in a column meet a specific condition.

```sql
CREATE TABLE employees (
  age INT CHECK (age >= 18)
);
```

---

**5. What is a `DEFAULT` constraint?**  
Sets a default value for a column when no value is provided.

```sql
CREATE TABLE orders (
  status VARCHAR(20) DEFAULT 'pending'
);
```

---

**6. What is a `PRIMARY KEY` constraint?**  
Uniquely identifies each record in a table. It:

* Must be unique
* Cannot contain NULLs

```sql
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50)
);
```

---

**7. What is a `FOREIGN KEY` constraint?**  
Enforces a relationship between two tables and maintains referential integrity.

```sql
CREATE TABLE departments (
  id INT PRIMARY KEY
);

CREATE TABLE employees (
  id INT PRIMARY KEY,
  department_id INT,
  FOREIGN KEY (department_id) REFERENCES departments(id)
);
```

---

**8. How do you add or drop constraints?**  

* Add a constraint:

```sql
ALTER TABLE employees ADD CONSTRAINT chk_age CHECK (age >= 18);
```

* Drop a constraint:

```sql
ALTER TABLE employees DROP CONSTRAINT chk_age;
```

(MySQL may need to find constraint name first.)

---

**9. What is referential integrity?**  
Referential integrity ensures that a foreign key in one table always refers to a valid primary key in another table.

---

**10. How do you define composite keys?**  
A primary key made up of two or more columns.

```sql
CREATE TABLE course_enrollments (
  student_id INT,
  course_id INT,
  PRIMARY KEY (student_id, course_id)
);
```

---

**11. What’s the difference between `UNIQUE` and `PRIMARY KEY`?**  

| Feature             | PRIMARY KEY     | UNIQUE             |
| ------------------- | --------------- | ------------------ |
| NULLs allowed?      | No              | Yes (one or more)  |
| Only one per table? | Yes             | Multiple allowed   |
| Purpose             | Main identifier | Ensures uniqueness |

---

**12. What happens when foreign key constraints are violated?**  
You will get an error such as:

```
Cannot add or update a child row: a foreign key constraint fails
```

This happens if:

* A value in the child table doesn’t exist in the parent table
* You try to delete a parent row referenced by a child row without cascading

---



### ✅ **6. Normalization and Database Design**

---

**1. What is normalization?**  
Normalization is the process of organizing data in a database to reduce redundancy and improve data integrity. It involves dividing large tables into smaller, related tables and linking them using keys.

---

**2. What are the normal forms (1NF, 2NF, 3NF, BCNF)?**  

* **1NF (First Normal Form):**
  Each column must have atomic (indivisible) values and unique column names.
  ➤ No repeating groups.

* **2NF (Second Normal Form):**
  1NF + all non-key attributes must be fully functionally dependent on the entire primary key.
  ➤ Removes partial dependencies.

* **3NF (Third Normal Form):**
  2NF + all attributes must be dependent only on the primary key.
  ➤ Removes transitive dependencies.

* **BCNF (Boyce-Codd Normal Form):**
  A stronger version of 3NF; every determinant must be a candidate key.

---

**3. Why is normalization important?**  

* Reduces data redundancy
* Improves data consistency and integrity
* Makes updates, deletions, and insertions more efficient and error-free

---

**4. What is denormalization?**  
Denormalization is the process of combining tables to improve read performance. It increases redundancy for faster queries in reporting systems or OLAP systems.

---

**5. What is an ER diagram?**  
An **Entity-Relationship Diagram (ERD)** visually represents:

* Entities (tables)
* Relationships (associations)
* Attributes (columns)

Used in database design.

---

**6. What is a relationship (one-to-one, one-to-many, many-to-many)?**  

* **One-to-One (1:1):** One record in Table A is linked to one in Table B
* **One-to-Many (1\:N):** One record in Table A relates to multiple in Table B
* **Many-to-Many (M\:N):** Multiple records in Table A relate to multiple in Table B (requires a junction table)

---

**7. What is a composite key?**  
A **composite key** is a primary key made up of two or more columns used to uniquely identify a record.

```sql
PRIMARY KEY (student_id, course_id)
```

---

**8. What is an index?**  
An **index** is a data structure that improves the speed of data retrieval. It works like a lookup table.

```sql
CREATE INDEX idx_lastname ON employees(last_name);
```

---

**9. What are the advantages and disadvantages of indexes?**  

* **Advantages:**

  * Faster SELECT queries
  * Improves performance on large datasets

* **Disadvantages:**

  * Slower INSERT/UPDATE/DELETE
  * Takes extra storage space

---

**10. What is surrogate key vs natural key?**  

* **Natural key:** A meaningful key from real-world data (like email, SSN)
* **Surrogate key:** A system-generated key (like auto-incremented ID) used as a unique identifier

---

**11. How do you identify functional dependencies?**  
A **functional dependency** means if you know value of attribute A, you can determine value of B.
Denoted: A → B

Used to check if table design is normalized.

---

**12. What is star schema and snowflake schema?**  

* **Star Schema:**
  Central fact table connected to dimension tables (denormalized). Simple and fast.

* **Snowflake Schema:**
  Central fact table with normalized dimension tables (split into sub-dimensions). More complex.

---


### ✅ **7. Transactions and Concurrency**

---

**1. What is a transaction in SQL?**  
A **transaction** is a unit of work performed on the database. It is a sequence of one or more SQL statements that are executed as a single unit to ensure **data integrity**.

---

**2. What are the ACID properties?**  
The four key properties of a reliable transaction:

* **A - Atomicity:** All operations succeed or none do
* **C - Consistency:** DB moves from one valid state to another
* **I - Isolation:** Transactions don’t interfere with each other
* **D - Durability:** Once committed, the transaction remains saved even after system failure

---

**3. How do you start, commit, and rollback a transaction?**  

```sql
START TRANSACTION;
-- SQL statements
COMMIT;    -- Saves changes permanently
ROLLBACK;  -- Undoes changes if error occurs
```

---

**4. What is concurrency control?**  
Concurrency control ensures that multiple transactions can occur simultaneously without interfering with each other, maintaining **database consistency**.

---

**5. What are locks in databases?**  
Locks prevent other transactions from accessing the same data during a transaction.
Types:

* **Shared lock (read)**
* **Exclusive lock (write)**

---

**6. What is isolation level?**  
It defines how/when changes made by one transaction are visible to others.

---

**7. What are deadlocks and how can they be prevented?**  
A **deadlock** occurs when two transactions wait for each other’s locked resources.
**Prevention:**

* Acquire locks in the same order
* Use timeout
* Keep transactions short

---

**8. What is optimistic vs pessimistic locking?**  

* **Pessimistic locking:** Locks data immediately; avoids conflicts
* **Optimistic locking:** Checks for conflict only before commit

---

**9. What are the types of isolation levels in MySQL?**  

* **READ UNCOMMITTED**
* **READ COMMITTED**
* **REPEATABLE READ** (default in MySQL)
* **SERIALIZABLE**

Higher levels = more consistency, less concurrency.

---

**10. What is phantom read, dirty read, and non-repeatable read?**  

* **Dirty Read:** Read uncommitted data from another transaction
* **Non-Repeatable Read:** Same query returns different results in one transaction
* **Phantom Read:** New rows appear in repeated queries in one transaction

---



### ✅ **8. Views, Stored Procedures, and Triggers**

---

**1. What is a view in SQL?**  
A **view** is a virtual table based on a SQL query. It does not store data itself but provides a way to look at data from one or more tables.

---

**2. How do you create and use a view?**  

```sql
CREATE VIEW employee_salary AS
SELECT name, salary FROM employees WHERE salary > 50000;

-- Use the view
SELECT * FROM employee_salary;
```

---

**3. What is a stored procedure?**  
A **stored procedure** is a precompiled group of one or more SQL statements saved in the database, which can be executed repeatedly.

---

**4. How do you create and execute a stored procedure?**  

```sql
DELIMITER //
CREATE PROCEDURE GetHighSalary()
BEGIN
   SELECT * FROM employees WHERE salary > 60000;
END;
//
DELIMITER ;

-- Execute
CALL GetHighSalary();
```

---

**5. What are the advantages of stored procedures?**  

* Improved performance (precompiled)
* Code reuse
* Enhanced security (restrict direct access to tables)
* Easier maintenance

---

**6. What is a trigger in SQL?**  
A **trigger** is a database object that is automatically executed in response to certain events (INSERT, UPDATE, DELETE) on a table.

---

**7. How do you create and use triggers?**  

```sql
CREATE TRIGGER before_insert_employee
BEFORE INSERT ON employees
FOR EACH ROW
SET NEW.created_at = NOW();
```

---

**8. What is a function in SQL?**  
A **function** is similar to a stored procedure but always returns a value and can be used in SQL expressions.

---

**9. What is the difference between a function and a stored procedure?**  

| Feature          | Stored Procedure | Function              |
| ---------------- | ---------------- | --------------------- |
| Return value     | Optional         | Must return a value   |
| Usage in queries | Not directly     | Can be used in SELECT |
| Transactions     | Can use          | Limited               |

---

**10. Can we modify data using views?**  
Yes, **if the view is simple** (one table, no joins, no aggregations), you can perform `INSERT`, `UPDATE`, `DELETE`.
For complex views, it's often **read-only**.

---

**11. How do you handle exceptions in stored procedures?**  
In MySQL, use `DECLARE ... HANDLER`:

```sql
DECLARE CONTINUE HANDLER FOR SQLEXCEPTION
BEGIN
   -- handle error
END;
```

---


### ✅ **9. Advanced SQL**

---
 
**1. What is a CTE (Common Table Expression)?**  
A **CTE** is a temporary result set defined using the `WITH` clause that can be referred to within a `SELECT`, `INSERT`, `UPDATE`, or `DELETE` query.

```sql
WITH high_salary AS (
  SELECT * FROM employees WHERE salary > 50000
)
SELECT * FROM high_salary;
```

---

**2. How do you use recursive queries?**  
Recursive CTEs are used to query hierarchical data (e.g., org charts, folder trees).

```sql
WITH RECURSIVE emp_hierarchy AS (
  SELECT id, name, manager_id FROM employees WHERE manager_id IS NULL
  UNION ALL
  SELECT e.id, e.name, e.manager_id
  FROM employees e
  JOIN emp_hierarchy eh ON e.manager_id = eh.id
)
SELECT * FROM emp_hierarchy;
```

---

**3. What are window functions?**  
**Window functions** perform calculations across a set of table rows related to the current row (like running totals, rankings).

Examples: `ROW_NUMBER()`, `RANK()`, `DENSE_RANK()`, `SUM() OVER(...)`

---

**4. How do you use RANK(), ROW\_NUMBER(), and DENSE\_RANK()?**  

```sql
SELECT name, salary,
  ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_num,
  RANK() OVER (ORDER BY salary DESC) AS rank,
  DENSE_RANK() OVER (ORDER BY salary DESC) AS dense_rank
FROM employees;
```

---

**5. How do you perform pivot and unpivot operations?**  

* **Pivot (MySQL 8.0+):**

```sql
SELECT department,
  SUM(CASE WHEN gender = 'Male' THEN 1 ELSE 0 END) AS Male,
  SUM(CASE WHEN gender = 'Female' THEN 1 ELSE 0 END) AS Female
FROM employees
GROUP BY department;
```

* **Unpivot:** Manually using `UNION ALL`.

---

**6. How do you handle NULL values in SQL?**  

* `IS NULL` / `IS NOT NULL`
* `COALESCE()` to provide default value
* `NULLIF()` returns NULL if two values are equal

---

**7. What is dynamic SQL?**  
Dynamic SQL is SQL code constructed and executed at runtime, typically using a variable.

```sql
SET @sql = 'SELECT * FROM ' + table_name;
PREPARE stmt FROM @sql;
EXECUTE stmt;
```

---

**8. How do you optimize SQL queries?**  

* Use indexes
* Avoid `SELECT *`
* Use `EXPLAIN` to analyze queries
* Filter early with `WHERE`
* Avoid unnecessary joins

---

**9. What are execution plans?**  
Execution plans show how SQL Server/MySQL executes a query (step-by-step). It helps in performance tuning.

Use: `EXPLAIN SELECT * FROM employees;`

---

**10. What are materialized views?**  
Materialized views are precomputed results stored like a table (not available in MySQL directly, but common in PostgreSQL, Oracle, etc.).

---

**11. What is query profiling?**  
It helps in analyzing query performance. In MySQL:

```sql
SET profiling = 1;
SELECT * FROM employees;
SHOW PROFILES;
```

---

**12. What is a lateral join?**  
A **lateral join** allows a subquery in the `FROM` clause to reference columns of preceding tables in the same `FROM` clause. (Not natively supported in MySQL before 8.0)

---



### ✅ **10. Security and User Management**

---

**1. How do you create and manage users in a database?**  
You can create a new user in MySQL using the `CREATE USER` command:

```sql
CREATE USER 'username'@'localhost' IDENTIFIED BY 'password';
```

To manage the user’s privileges:

```sql
GRANT SELECT, INSERT ON mydb.* TO 'username'@'localhost';
```

---

**2. What are roles and privileges?**  

* **Roles** are a group of privileges that can be assigned to users.
* **Privileges** define what operations a user can perform (like SELECT, INSERT, DELETE).

```sql
CREATE ROLE read_only;
GRANT SELECT ON mydb.* TO read_only;
GRANT read_only TO 'username'@'localhost';
```

---

**3. How do you grant and revoke permissions?**  

* **Granting:**

```sql
GRANT SELECT, UPDATE ON mydb.employees TO 'user1'@'localhost';
```

* **Revoking:**

```sql
REVOKE UPDATE ON mydb.employees FROM 'user1'@'localhost';
```

---

**4. What is SQL injection and how can it be prevented?**  
SQL injection is a security vulnerability where an attacker injects malicious SQL code into input fields. It can be prevented by:

* Using prepared statements or parameterized queries
* Validating and sanitizing user inputs
* Avoiding dynamic SQL where possible

---

**5. How do you audit database activity?**  
You can audit using:

* General log and slow query log in MySQL
* Triggers for custom logging
* Third-party tools or enterprise features for full auditing

```sql
SET GLOBAL general_log = 'ON';
```

---

**6. What are best practices for database security?**  

* Use least privilege principle
* Use strong passwords and rotate regularly
* Encrypt data in transit and at rest
* Avoid using root/admin for applications
* Regularly update and patch DBMS

---

**7. How do you implement row-level security?**  
Row-level security allows different users to see different subsets of data. This is implemented using:

* **Views** with WHERE clauses based on user ID
* **Application-level filtering**
* (In some databases like PostgreSQL, native support is available)

```sql
CREATE VIEW user_data AS
SELECT * FROM employees WHERE user_id = CURRENT_USER();
```

---


### ✅ **11. Backup, Restore, and Maintenance**

---

**1. How do you backup a database?**  
In MySQL, the most common method is using `mysqldump`:

```bash
mysqldump -u username -p database_name > backup.sql
```

Other backup methods include:

* Physical file backup
* Logical backup via scripts
* Azure/AWS/GCP managed backups (for cloud DBs)

---

**2. How do you restore a database?**  

Using a `.sql` file:

```bash
mysql -u username -p database_name < backup.sql
```

---

**3. What is database replication?**  
Replication is the process of copying data from one database server (master) to another (slave/replica) to improve availability, load balancing, and disaster recovery.

Types:

* Master-slave
* Master-master
* GTID-based replication

---

**4. What is sharding?**  
Sharding splits a large database into smaller, faster, more manageable parts called **shards**. Each shard holds a portion of the data and can be distributed across servers.

Useful for:

* Horizontal scaling
* Managing large volumes of data

---

**5. How do you monitor database performance?**  

* Use `EXPLAIN` to analyze query plans.
* Monitor CPU, memory, disk I/O.
* Check slow query logs.
* Use performance schema and monitoring tools like:

  * MySQL Enterprise Monitor
  * Prometheus + Grafana
  * Cloud provider monitoring (Azure Monitor, AWS CloudWatch)

---

**6. What are common database maintenance tasks?**  

* Regular backups
* Index rebuilding/optimization
* Removing obsolete data
* Analyzing and optimizing queries
* Updating statistics
* Vacuuming (in PostgreSQL)

---

**7. What is binary logging in MySQL?**  
Binary log (`binlog`) contains a record of changes to the database (DDL, DML). It’s used for:

* Replication
* Point-in-time recovery

Enable it in `my.cnf`:

```ini
[mysqld]
log-bin=mysql-bin
```

---

**8. What are slow query logs?**  
These logs capture queries that take longer than a specified threshold.

Enable:

```ini
slow_query_log = 1
long_query_time = 2
```

View with:

```sql
SHOW VARIABLES LIKE 'slow_query_log%';
```

---


### ✅ **12. NoSQL and Modern Databases (Optional)**

---

**1. What is NoSQL?**  
NoSQL stands for **"Not Only SQL"**. It refers to non-relational databases designed to store, retrieve, and manage unstructured or semi-structured data.

---

**2. What are the types of NoSQL databases?**  

* **Document-based** (e.g., MongoDB, CouchDB)
* **Key-Value** (e.g., Redis, DynamoDB)
* **Column-family** (e.g., Cassandra, HBase)
* **Graph-based** (e.g., Neo4j, Amazon Neptune)

---

**3. What is the difference between SQL and NoSQL?**  

| Feature     | SQL (RDBMS)             | NoSQL                        |
| ----------- | ----------------------- | ---------------------------- |
| Schema      | Fixed schema            | Dynamic schema               |
| Data format | Tables (rows & columns) | JSON, XML, Key-Value, etc.   |
| Joins       | Supported               | Often not supported          |
| Scalability | Vertical scaling        | Horizontal scaling           |
| Best for    | Structured data         | Unstructured/semi-structured |

---

**4. What are some popular NoSQL databases?**  

* **MongoDB** (document)
* **Redis** (key-value)
* **Cassandra** (columnar)
* **Neo4j** (graph)
* **Couchbase**, **DynamoDB**, **Elasticsearch**

---

**5. When should you use NoSQL over SQL?**  

* When data is **semi-structured or unstructured**
* For applications requiring **high scalability** and performance
* When you need **flexible schema**
* For real-time applications (chat, caching, IoT, etc.)

---

**6. What are the limitations of NoSQL databases?**  

* Lack of standardized query language (like SQL)
* Limited support for **complex joins**
* **Data consistency** might be eventual (CAP theorem)
* Maturity & tooling may not match traditional RDBMS

---

**7. How does MongoDB handle schema flexibility?**  
MongoDB stores data as **BSON** documents in collections. Each document can have a different structure (schema-less). This allows:

* Easy updates and versioning
* Storing dynamic fields
* Better support for evolving data models

Example MongoDB document:

```json
{
  "name": "John",
  "email": "john@example.com",
  "age": 30
}
```

---